@font-face{
	font-family: 'martin';
	src: url(./assets/Martin.ttf);
}

@font-face{
	font-family: 'garaje';
	src: url(./assets/garaje.otf);
}

@font-face{
	font-family: 'Apoc';
	src: url(./assets/ApocLC-RevelationsItalic.woff2);
}

*{
	box-sizing: border-box;
}

body{
	background-color: #707070;
	margin: 0;
	overflow: hidden;
	overflow-y: scroll;
	display: flex;
	font-family: "Apoc";
	font-size: 1em;

}

h1{
	font-family: 'garaje';
	color: orange;
}

canvas{
	width: 100vmin;
}

input{
	type: "number";
	margin: 2em;
	width: 10vw;
	border-radius: 20px;
	background-color: orange;
	font-family: 'garaje';
	outline: none;
	border: none;
	padding: 1em;
	box-shadow: inset 0 0 10px black;
}

label{
	color: #FD5908;
}

.hour-input{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40vw;
	padding: 2em;
	box-shadow: inset 0 0 20px #296F01;
/*	border-radius: 20px;*/
/*	margin: 10% 0 0 5em;*/
	background-color: #C9FD4E;
}

button{
	position: absolute;
	bottom: 0;
	right: 0;

	margin: 2em;
	text-align: center;

	background-color: orange;
	border-radius: 20px;
	padding: 1em;
	font-family: 'Apoc';
}





